.LoadingScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}
.NewsComponent {
  /* width: 65%; */
  display: flex;
  /* flex-direction: column; */
  flex-grow: 1;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  row-gap: auto;
  gap: 30px;
  align-items: center;
  /* padding: 0px 25% 0px 25%; */
}
.link {
  text-decoration: none;
  color: var(--color);
  height: min-content;
  padding: 0;
}
