.Page {
  color: var(--heading);
}
.Heading {
  /* height: 20vh; */
  width: 100vw;
  padding: 30px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  color: var(--heading) !important;
  text-shadow:
    -1px -1px 0 var(--border-color),
    1px -1px 0 var(--border-color),
    -1px 1px 0 var(--border-color),
    1px 1px 0 var(--border-color);
  text-decoration: underline;
}
.contentSide {
  padding: 0 20px 0 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  padding-bottom: 130px;
  position: relative;
  font-size: 1em;
  text-shadow:
    -1px -1px 0 var(--border-color),
    1px -1px 0 var(--border-color),
    -1px 1px 0 var(--border-color),
    1px 1px 0 var(--border-color);
}
.Image {
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  /* background-color: black; */
  /* height: 20vh; */
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}
.Description {
  padding: 30px;
  text-shadow:
    -1px -1px 0 var(--border-color),
    1px -1px 0 var(--border-color),
    -1px 1px 0 var(--border-color),
    1px 1px 0 var(--border-color);
  text-decoration: underline;
  font-size: 1em;
}
.Button {
  position: absolute;
  bottom: 50px;
  right: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(250, 235, 215, 0.226);
  a {
    text-decoration: none;
    color: var(--heading);
  }
}
@media (min-width: 673px) {
  .Description {
    padding: 30px;
    text-shadow:
      -1px -1px 0 var(--border-color),
      1px -1px 0 var(--border-color),
      -1px 1px 0 var(--border-color),
      1px 1px 0 var(--border-color);
    text-decoration: underline;
    font-size: 1em;
  }
  .Heading {
    height: 20vh;
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: center;

    align-items: center;
    font-size: 3.5em;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    color: var(--heading) !important;
    text-shadow:
      -1px -1px 0 var(--border-color),
      1px -1px 0 var(--border-color),
      -1px 1px 0 var(--border-color),
      1px 1px 0 var(--border-color);
    text-decoration: underline;
  }
  .contentSide {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    padding-bottom: 90px;
  }
  .Button {
    position: absolute;
    bottom: 10px;
    right: 60px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.226);
    a {
      text-decoration: none;
      color: var(--heading);
      text-shadow: none;
    }
  }
  .Image {
    background-color: black;
    /* height: 20vh; */
    display: flex;
    justify-content: center;

    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}
